.product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 15px 10px;
}
.product label {
  text-transform: capitalize;
  font-weight: 600;
}
.product input,
.product textarea {
  border: 1px solid #aaaa;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  margin-top: -5px;
}
.product textarea.empty,
.product input.empty {
  animation: blink 0.3s 6;
}
@keyframes blink {
  from {
    border: 1px solid #aaaa;
  }
  to {
    border: 1px solid #f7450fb4;
  }
}
.product p {
  font-size: 14px;
  color: #aaa;
}
.product textarea {
  resize: none;
  max-height: 150px;
}
